@charset "ISO-8859-1";

body{
	background: #e2e2e2 !important; 
}

.back-primary{
	background: #009688 !important;
}

.banner{
	width: 100;
	height: 85vh;
	background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/banner.jpg);
	background-size: cover;
	text-align: center;
	color: #fff;
}

.rg-btn{
	float: right;
	text-decoration: none;
}

.rg-btn:hover{
	opacity: .8;
}

.rg-btn:link,
.rg-btn:visited{
	text-decoration: none;
}

@media only screen and (max-width: 800px){
	.sidebar{
		display: none;
		width: 80% !important;
		height: 100vh;
		position: fixed;
		background: white;
		padding-top: 20px;
	}
	
	.main-content{
		margin-left: 0% !important;
	}
}

.active{
	background: #009688;
	color: #fff !important;
}

.sidebar{
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 999999;
}

.sidebar .divider{
	width: 100%;
	height: 0.5px;
	background: #e2e2e2;
	margin-top: 10px;
}

.sidebar a{
	text-decoration: none;
	display: block;
	padding: 10px 25px;
	color: grey;
}

.sidebar a:hover{
	text-decoration: none;
	background: #e2e2e2;
}

.sidebar .crossBtn{
	position: absolute;
	top: 2px;
	right: 35px;
	font-size: 35px;
	cursor: pointer;
}

.main-content{
	margin-left: 18%;
}

.main-content .btn-bars{
	cursor: pointer;
}

.search-section{
	position: relative;
}

.search-result{
	position: absolute;
	width: 100%;
	padding: 10px;
	background: white;
	border: 1px solid gray;
	display: none;
}





