<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card p-4 my-3">	
					
						<!-- ALERT MESSAGE -->
						    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
						    	<p class="text-center pb-0 mb-0" th:text="${session.message.content}"></p>
						    	<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						    </div>
						<!-- END OF ALERT MESSAGE -->
						    		
						<h2 class="text-center pb-4">Your Registered Email</h2>
						
						<form th:action="@{/send-otp}" th:method="post">
							<div class="form-group">
								<input 
									type="email"
									name="email"
									class="form-control"
									placeholder="Enter Your Email"
									required />
							</div>
							
							<button type="submit" class="btn btn-primary">Send OTP</button>
							
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>