<!DOCTYPE html>
<html lang = "en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div>
			<h1>Smart Contact Manager</h1>	
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatibus id impedit dolor iure earum.</p>
			
			<button class="btn back-primary text-white btn-lg">Get Started</button>
		</div>
	</section>
</body>
</html>